body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    animation-duration: 1s;
  animation-name: slidein;
    width: 450px;
    margin: 100 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #1EA896;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;
    border-top: 10px solid #d8cefe;
    line-height: 2.4;
    text-shadow: 1px 1px 2px pink, 0 0 1em rosybrown, 0 0 0.2em royalblue;    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
